@mixin flexbox{
  display: flex;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}


@mixin flex($values) {
  flex:  $values;
  -ms-flex:  $values;
  -webkit-flex:  $values;
  -moz-box-flex:  $values;
  -webkit-box-flex: $values;
}

@mixin order($val) {
  order: $val;
  -webkit-order: $val;  
  -ms-flex-order: $val;     
  -moz-box-ordinal-group: $val;     
  -webkit-box-ordinal-group: $val;  
}

@mixin border-box {
    box-sizing: border-box; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}



//省略号
@mixin ell() {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* clearfix清除浮动 */
@mixin clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
}

@mixin width-height($width, $height){
	width: $width;
	height: $height;
}


/*圆角*/
@mixin border-radius($radius){
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}


@mixin flexDirection($direction){
    -ms-flex-direction:$direction;
    -webkit-flex-direction:$direction;
    flex-direction:$direction;
}
/*@include flexDirection(row);*/



@mixin align-items($center){
  -webkit-align-items:$center;
  -moz-align-items:$center;
  align-items:$center;
}

@mixin line {
	position: relative;
    &:before {
        content: '';
	    position: absolute;
	    width: 200%;
	    height: 1px;
	    top: 0;
	    border-top: 1px solid #ccc;
	    -webkit-transform-origin: 0 0;
	    transform-origin: 0 0;
	    -webkit-transform: scale(.5,.5);
	    transform: scale(.5,.5);
	    box-sizing: border-box; 
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    -o-box-sizing: border-box;
	    -ms-box-sizing: border-box;
    }
}